<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
		PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="ChatMessageDto" type="sp_test.Dto.ChatMessageDto"/>
		<typeAlias alias="ChatRoomDto" type="sp_test.Dto.ChatRoomDto"/>
		<typeAlias alias="UserDto" type="sp_test.Dto.UserDto"/>
	</typeAliases>
</configuration>
